<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LogFile" value="F:\dotNET_prog\DotNET_programming\dining_room\bin\Debug\net5.0\log.txt"/>
        <add key="JsonFiles" value="F:\dotNET_prog\DotNET_programming\dining_room\bin\Debug\net5.0\dict.json"/>
        <add key="ErrorText" value="Error"/>
    </appSettings>
</configuration>